<!DOCTYPE html>
<html xmlns="http://www.thymleaf.org" th:replace="~{/index::dynamic(~{::main})}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<main class="button-85 rounded-0 m-0 p-0" onclick="location.href='/rrs'">
        <div class="bg-white bg-opacity-75 row align-items-center " style="min-height: 100vh;">
            <h1 class="display-1 text-center font-effect-fire-animation">
                CHƯA ĐƯỢC TRUY CẬP TRANG!!!
            </h1>
        </div>
    </main>
</body>
</html>