<!DOCTYPE html>
<html xmlns="http://www.thymleaf.org" th:replace="~{/index::dynamic(~{::main})}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<main class="container-fluid">
		<div class="row border-3 border-info border-start border-end">
			<div class="mt-5"></div>

			<div class="m-auto col-lg-6 p-lg-1" ng-app="app"
				ng-controller="control">
				<h3 class="text-uppercase text-center fw-bolder">Đổi mật khẩu</h3>
				<div class="mt-3 text-center text-white {{mes.bg}}"
					ng-bind="mes.content"></div>
				<form action="/security/change_password" method="post"
					class="fs-3 p-3 border rounded-3" id="form" th:object="${account}">
					<div class="mt-1">
						<label class="form-label">Tài khoản</label> <input type="text"
							class="form-control" name="username" id="username"
							th:field="*{username}">
					</div>
					<div class="mt-1">
						<label for="password" class="form-label">Mật khẩu</label>
						<div class="input-group">
							<input type="password" class="form-control"
								placeholder="Mật khẩu?" name="password" id="password"
								th:value="*{password}"> <span class="input-group-text"
								onclick="showPass(password, this.getElementsByTagName('i')[0])">
								<i class="fa fa-eye-slash"></i>
							</span>
						</div>
					</div>
					<div class="mt-1">
						<label for="newPassword" class="form-label">Mật khẩu mới</label>
						<div class="input-group">
							<input type="password" class="form-control"
								placeholder="mật khẩu mới" id="newPassword" name="newPass">
							<span class="input-group-text"
								onclick="showPass(newPassword, this.getElementsByTagName('i')[0])">
								<i class="fa fa-eye-slash"></i>
							</span>
						</div>
					</div>
					<div class="mt-1">
						<label for="rePassword" class="form-label">Xác nhận mật
							khẩu</label>
						<div class="input-group">
							<input type="password" class="form-control"
								placeholder="Nhập lại mật khẩu mới" id="rePassword"
								name="rePass"> <span class="input-group-text"
								onclick="showPass(rePassword, this.getElementsByTagName('i')[0])">
								<i class="fa fa-eye-slash"></i>
							</span>
						</div>
					</div>
					<div class="mt-3 fs-6 text-end">
						<a class="m-1 btn btn-outline-secondary" href="/rrs"> <i
							class="fa-solid fa-arrow-rotate-left"></i>&nbsp;Trang chủ
						</a>
						<button class="m-1 me-0 btn btn-outline-primary" id="btnConfirm">
							<i class="fa-solid fa-right-from-bracket"></i>&nbsp;Thay đổi
						</button>
					</div>
				</form>
			</div>
			<div class="mt-lg-5"></div>
		</div>

		<script>
	        const app = angular.module('app', []);
	        const serverIO = "http://127.0.0.1:8080"; // protocol://host:port
	        const path = "rest/mail"; // get all entities
	
	        app.controller('control', function($scope, $http) {
	            $scope.getCode = function(btn) {
	                btnTimeInterval.disabled = true;
	                timeInterval.innerText = 60;
	                form.style.cursor = "progress";
	            
	                $http.get(getLink(serverIO, path, `getCode?address=${addressEmail.value}`)).then((resp) => {
	                    if(resp.status == 200) {
	                        $scope.mes = {bg:'bg-success', content:resp.data};
	                        form.style.cursor = "default";
	                        btnConfirm.disabled = code.disabled = false;
	                        
	                        var runTime = setInterval(function() {
	                            if(--timeInterval.innerText < 1) {
	                                btnTimeInterval.disabled = false;
	                                clearInterval(runTime);
	                            }
	                        }, 1000);
	                    } else $scope.mes = {bg:'bg-warning', content:`Status is ${resp.status}`};
	                }).catch(err => $scope.mes = {bg:'bg-warning', content:(`getCode error ${err.data ? err.data.message : err.status}`)});
	            }
	        });
	    </script>
	</main>
</body>
</html>