<div class="mt-3 p-0 partner border-top border-bottom">
	<h3 class="p-3 text-center text-uppercase">Đặc Sản Miền Trung trên các hệ thống</h3>
	<div class="d-flex flex-wrap justify-content-end">
		<div class="col-lg-2 col-md-4 col-sm-6 p-1" ng-repeat="p in partners">
			<div class="ar16x6 position-relative">
				<h4 class="text-center position-absolute bottom-0 start-0 end-0 bg-dark bg-opacity-25 text-light">{{p.order_id}}</h4>
				<img class="fit-img o-fit-cover rounded-3" ng-src="{{p.logo}}" alt="{{p.order_id}}">
			</div>
		</div>
	</div>
	<p class="mt-3 p-3 border-top" style="text-align: justify;">
		Request Response service trên các trang trực tuyến và đối tác được
		hiển thị tại đây, chi tiết liên hệ vui lòng tự truy cập. Hình ảnh chỉ
		mang tính chất minh họa, không thể ăn và cũng không như bạn nghĩ.<br>
	<p class="w-100 text-end">
		<strong class="">Request Response - service </strong><em>chân thành cảm ơn!!!</em>
	</p>
</div>